[args]
lang = hr
Language = Croatian
Country = HR
version = 0.1
author = Krunoslav Šebetić (kruno.se na gmx comu)
url = https://github.com/krunose/lightproof-hr
locales = hr_HR
implname = Lightproof_hr
name = Osnovna provjera pravopisa i gramatike za hrvatski jezik

# Dodajemo stvarnu datoteku da skripta prođe petlju bez greške:
extras = hr.dat
